@tailwind base;
@tailwind components;
@tailwind utilities;

  /* Basic styling for the typewriter effect */
  #typewriter {
      border-right: 2px solid;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      animation: blink 0.75s step-end infinite;
  }

  /* Blinking cursor */
  @keyframes blink {
      from, to { border-color: transparent; }
      50% { border-color: black; }
  }

